<!DOCTYPE html>
<html lang="en" data-scrolldir="down">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.typekit.net/ilp4lxb.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{{name}} {{kind}} Reference</title>
    <link rel="stylesheet" type="text/css" href="{{path_to_root}}css/jazzy.css" />
    <link rel="stylesheet" type="text/css" href="{{path_to_root}}css/highlight.css" />
    {{#enable_katex}}
    <link rel="stylesheet" type="text/css" href="{{path_to_root}}css/katex.min.css" />
    {{/enable_katex}}
    <meta charset='utf-8'>
    <script src="{{path_to_root}}js/jquery.min.js" defer></script>
    {{#enable_katex}}
    <script src="{{path_to_root}}js/katex.min.js" defer></script>
    {{/enable_katex}}
    <script src="{{path_to_root}}js/jazzy.js" defer></script>
    {{{custom_head}}}
    {{^disable_search}}
    <script src="{{path_to_root}}js/lunr.min.js" defer></script>
    <script src="{{path_to_root}}js/typeahead.jquery.js" defer></script>
    <script src="{{path_to_root}}js/jazzy.search.js" defer></script>
    {{/disable_search}}
    <link href="/dist/css/app.css" rel='stylesheet' type="text/css" />
  </head>
  <body class="overflow-hidden ma0 sans-serif text-color-primary hg-page">
  {{> utag}}
  {{> site-nav}}
  <main role="main" class="content-with-sidebar pb0-ns">  
    <div class="w-100 pr4-ns">
    <div class="flex">
      {{> section-nav-menu}}

    <article id="main-content" class="order-1 overflow-auto vh-100 max-vh-100 pt4 ph15 ph4-ns mid-gray mt0-ns w-100 pb6" style="flex:1;scroll-padding-top:96px;">
      <div class="documentation-copy ph4-ns">
        <div class="flex-none w-100">
          <nav id="breadcrumb">
          {{#breadcrumbs.length}}
          <ul class="nav">
            <li class="f7 lvl0"><a href="{{path_to_root}}index.html"  class="f6 mb0 link mid-gray dim mr1">Tealium for Swift SDK Reference</a></li>
            {{#breadcrumbs}}
              {{#last}}
              {{/last}}
              {{^last}}
              <li class="f7 lvl1">&gt;&nbsp;<a href="{{path_to_root}}{{url}}" class="f6 mb0 link mid-gray dim mr1">{{name}}</a></li>
              {{/last}}
            {{/breadcrumbs}}
          </ul>
          {{/breadcrumbs.length}}
          </nav>
          <h1 class="lh-title mt4 mt30-ns mb3">{{name}} {{kind}} Reference</h1>
        </div>
        <div class="prose nested-links" id="prose">
          <section class="section">
            {{> deprecation}}
            {{#declaration}}
              <div class="declaration">
                <div class="language">
                  {{#other_language_declaration}}<p class="aside-title">{{language}}</p>{{/other_language_declaration}}
                  {{{declaration}}}
                </div>
                {{#other_language_declaration}}
                <div class="language">
                  <p class="aside-title">Swift</p>
                  {{{other_language_declaration}}}
                </div>
                {{/other_language_declaration}}
              </div>
            {{/declaration}}
            {{{overview}}}
            {{#parameters.any?}}
              <div>
                <h4>Parameters</h4>
                <table class="graybox">
                  <tbody>
                    {{#parameters}}
                      {{> parameter}}
                    {{/parameters}}
                  </tbody>
                </table>
              </div>
            {{/parameters.any?}}
            {{#return}}
              <div>
                <h4>Return Value</h4>
                {{{return}}}
              </div>
            {{/return}}
            {{#source_host_item_url}}
              <div class="slightly-smaller">
                <a href="{{{.}}}">Show on {{source_host_name}}</a>
              </div>
            {{/source_host_item_url}}
          </section>
          {{> tasks}}
        </div>
        {{> footer}}
      </div>
    </article>
  </div>
  </div>
  </main>
</body>
</html>
