    <script>
    var utag_data = {
        tealium_event : "page_view"
    }
    </script>

    <script>
     (function(a,b,c,d){
        a="//tags.tiqcdn.com/utag/tealium/docs/qa/utag.js";
        b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
        a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
      })();
    </script>